@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



h1,h2,h3,h4,h5,h6,p,span{
  font-family: 'Lato', sans-serif;
}

/*
 @font-face {
  font-family: 'Atiba';
  src: url('./public/font/Atiba.ttf');
}
body{
  font-family: 'Atiba';
} */

/* navbar */

.active{
  color: #F9A524;
  font-weight: 600;
}

 .menu-item:hover::before {
  transform: scale(1);
  width: 100%;
}
.menu-item {
  position: relative;
  text-align: center;
}
.menu-item a {
  overflow: hidden;
  white-space: nowrap;
  display: block;
}
.sub-menu .menu-item {
  padding: 0.75rem 0;
  background: #343964;
  opacity: 0;
  width: 200px;
  transform-origin: bottom;
  animation: enter 0.2s ease forwards;
}
.sub-menu .menu-item:nth-child(1) {
  animation-duration: 0.2s;
  animation-delay: 0s;
}
.sub-menu .menu-item:nth-child(2) {
  animation-duration: 0.3s;
  animation-delay: 0.1s;
}
.sub-menu .menu-item:nth-child(3) {
  animation-duration: 0.4s;
  animation-delay: 0.2s;
}
.sub-menu .menu-item:nth-child(4) {
  animation-duration: 0.5s;
  animation-delay: 0.3s;
}
.sub-menu .menu-item:nth-child(5) {
  animation-duration: 0.6s;
  animation-delay: 0.4s;
}
.sub-menu .menu-item:nth-child(6) {
  animation-duration: 0.7s;
  animation-delay: 0.5s;
}
.sub-menu .menu-item:hover {
  background: #1E2453;
}
.sub-menu .menu-item a {
  padding: 0 0.75rem;
}






@keyframes enter {
  from {
    opacity: 0;
    transform: scaleY(0.98) translateY(10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



/* 
/* slider css code */

.swiper {
  width: 100%;
  height: 70%%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .slider-button{
    display:none !important;
  }
 }





/* 
/* Animation for h1 (left to right) */
.animate-slide-in {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slide-in-left {
  animation: slideFromLeft 1s ease forwards;
}

.slide-in-right {
  animation: slideFromRight 1s ease forwards;
}

.slide-in-top {
  animation: slideFromTop 1s ease forwards;
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
