@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



h1,h2,h3,h4,h5,h6,p,span{
  font-family: 'Lato', sans-serif;
}

/*
 @font-face {
  font-family: 'Atiba';
  src: url('./public/font/Atiba.ttf');
}
body{
  font-family: 'Atiba';
} */



/* header hover */
.menu-item, .sub-menu {
  position: relative;
}

.menu-item::before, .sub-menu::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #1E2453; /* Change to your desired hover color */
  transition: width 0.3s ease-in-out; /* Adjust the duration as needed */
}

.menu-item:hover::before, .sub-menu:hover::before {
  width: 100%;
}


/* 
/* slider css code */

.swiper {
  width: 100%;
  height: 70%%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}





/* 
/* Animation for h1 (left to right) */
.animate-slide-in {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slide-in-left {
  animation: slideFromLeft 1s ease forwards;
}

.slide-in-right {
  animation: slideFromRight 1s ease forwards;
}

.slide-in-top {
  animation: slideFromTop 1s ease forwards;
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
